# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python cache/bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Build and packaging
build/
dist/
*.egg-info/

# IDE / editor configs
.vscode/
.idea/
*.swp

# Environment variables
.env
